html {
  height: 100%;
}

body {
  align-content: center;
  display: grid;
  gap: 16px;
  justify-items: center;
  margin: 0;
  min-height: 100%;
}

.logbook {
  --logbook-gap: 8px;

  background-color: white;
  background-image: url("https://generative-placeholders.glitch.me/image?width=1200&height=240&style=cellular-automata&cells=12");
  background-size: 106% 111%;
  border-radius: 1px;
  box-shadow: 1px 2px 3px silver;
  color: var(--logbook-color, black);
  container: logbook-height / size;
  display: grid;
  gap: var(--logbook-gap);
  grid-template-columns: repeat(2, var(--logbook-width));
  grid-template-rows: var(--logbook-height);
  position: relative;

  /* &::after {
    background-color: black;
    content: "";
    inset: 0 50%;
    opacity: 0.05;
    position: absolute;
    translate: -50%;
    width: var(--logbook-gap);
  } */
}

.l-7 {
  --logbook-color: #fffe;
  --logbook-height: 3cm;
  --logbook-width: 9.5cm;

  opacity: 0.3;
}

.l-6 {
  --logbook-height: 5.2cm;
  --logbook-width: 8.5cm;

  background-color: #e8ddcb;
  background-image: url("https://generative-placeholders.glitch.me/image?width=1200&height=240&style=cellular-automata&cells=12&colors=5");
  opacity: 0.3;
}

.l-5 {
  --logbook-height: 4cm;
  --logbook-width: 5cm;

  background-color: #7fc7af;
  background-image: url("https://generative-placeholders.glitch.me/image?width=1200&height=240&style=cellular-automata&cells=12&colors=10");
  background-size: 106% 112%;
}

.l-5a {
  --logbook-color: black;
  --logbook-height: 3.5cm;
  --logbook-width: 4.8cm;

  opacity: 0.3;
}

.l-4 {
  --logbook-height: 1.6cm;
  --logbook-width: 9.5cm;

  background-color: #eee6ab;
  background-image: url("https://generative-placeholders.glitch.me/image?width=1200&height=240&style=cellular-automata&cells=12&colors=32");
  opacity: 0.3;
}

.l-4a {
  --logbook-height: 1.6cm;
  --logbook-width: 8cm;

  background-color: #fad089;
  background-image: url("https://generative-placeholders.glitch.me/image?width=1200&height=240&style=cellular-automata&cells=12&colors=24");
  background-size: 106% 110%;
}

.l-3 {
  --logbook-height: 1.6cm;
  --logbook-width: 6.2cm;

  background-color: #7fc7af;
  background-image: url("https://generative-placeholders.glitch.me/image?width=1200&height=240&style=cellular-automata&cells=12&colors=10");
  opacity: 0.3;
}

.l-2 {
  --logbook-height: 2.5cm;
  --logbook-width: 6cm;

  background-color: #fee5ad;
  background-image: url("https://generative-placeholders.glitch.me/image?width=1200&height=240&style=cellular-automata&cells=12&colors=67");
}

.l-1 {
  --logbook-height: 2cm;
  --logbook-width: 4.5cm;

  background-color: #e5ddcb;
  background-image: url("https://generative-placeholders.glitch.me/image?width=1200&height=240&style=cellular-automata&cells=12&colors=52");
  opacity: 0.3;
}

.e-1 {
  --logbook-color: #fffe;
  --logbook-gap: 4px;
  --logbook-height: 2cm;
  --logbook-width: 3.5cm;

  background-color: #f10c49;
  background-image: url("https://generative-placeholders.glitch.me/image?width=1200&height=240&style=cellular-automata&cells=12&colors=83");
  background-size: 106% 112%;

  & ~ & {
    background-color: #215a6d;
    background-image: url("https://generative-placeholders.glitch.me/image?width=1200&height=240&style=cellular-automata&cells=12&colors=72");
  }
}

.logbook__cover {
  container: logbook-width / inline-size;
  padding-block: max(1mm, 6cqb);
  display: flex;
}

.logbook__front {
  padding-inline: 8mm 1mm;
}

.logbook__back {
  padding-inline: 1mm 8mm;

  &::after {
    align-self: center;
    content: "HTMLer";
    font-family: monospace;
    font-size: 6px;
    font-weight: bold;
    position: absolute;
    right: 8mm;
    translate: 100%;
    writing-mode: sideways-lr;
  }
}

.logbook__gc-logo {
  align-self: center;
  fill: white;
  flex-shrink: 0;
  height: min(1.4cm, 100%);
  margin-left: 1.25%;
  opacity: 0.95;
}

.logbook__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1mm;
  margin: 0.75% 1mm;

  > * {
    align-content: center;
    flex-grow: 1;
    text-align: center;
    width: min(4.5cm, 100%);
  }
}

.logbook__title {
  font-family: sans-serif;
  font-size: clamp(10px, 8cqb, 14px);
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

.logbook__input {
  background-color: #fffb;
  border-radius: 0;
  border: 0;
  color: mediumblue;
  font-family: cursive;
  font-size: 16px;
  max-height: max(0.6cm, 24cqb);
  outline: 0;
  text-transform: uppercase;
}

.logbook__text {
  font-family: monospace;
  font-size: clamp(8px, 10cqb, 12px);
  font-weight: bold;
  line-height: 1.3;
  text-wrap-style: balance;
}

a {
  color: var(--logbook-color, seagreen);
  text-decoration: none;
}

small {
  font-size: 6px;
}

.logbook__avatar {
  align-self: center;
  border-radius: 4px;
  height: min(1.4cm, 100%);
  margin-inline-start: 1%;
  scale: 0.95;
}

@container logbook-height (3.5cm <= height) {
  .logbook__front {
    flex-direction: column;
    gap: 1mm;
  }
}

@container logbook-width (width <= calc(4.5cm - 8mm - 1mm)) {
  .logbook__gc-logo {
    display: none;
  }
}

@container logbook-width (width <= calc(5cm - 1mm - 8mm)) {
  .logbook__back::after,
  .logbook__avatar {
    display: none;
  }
}

@container logbook-width (width <= calc(8cm - 1mm - 8mm)) {
  .hidden {
    display: none;
  }
}
